<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
</head>
<body>

<h3><a href="/add">Add new item</a></h3>
{% if search_enabled %}
<p><a href="/">Show full list</a></p>
{% endif %}
{% if items %}
<table>
    <form method="GET">
        <select name="field">
            <option value="id">ID</option>
            <option value="title">Title</option>
            <option value="content">Content</option>
            <option value="priority">Priority</option>
            <option value="completed">Completed</option>
        </select>
        <input type="text" name="value" placeholder="value">
        <input type="submit" value="Find">
    </form>
    <tr>
        <th><a href="/?sort=id{{ sort_link }}">ID</a></th>
        <th><a href="/?sort=title{{ sort_link }}">Title</a></th>
        <th><a href="/?sort=content{{ sort_link }}">Content</a></th>
        <th><a href="/?sort=priority{{ sort_link }}">Priority</a></th>
        <th><a href="/?sort=completed{{ sort_link }}">Completed</a></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.content }}</td>
        <td>{{ item.priority }}</td>
        <td>{{ item.completed }}</td>
        <td><a href="/edit/{{ item.id }}">Edit</a></td>
        {% if item.completed == 'YES' %}
        <td>
            <form method="post" action="/state/{{ item.id }}/uncomplete">
                <input type="submit" value="Uncomplete">
            </form>
        </td>
        {% else %}
        <td>
            <form method="post" action="/state/{{ item.id }}/complete">
                <input type="submit" value="Complete">
            </form>
        </td>
        {% endif %}
        <td>
            <form method="post" action="/delete/{{ item.id }}">
                <input type="submit" value="Remove">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Collection is empty</h2>
{% endif %}
</body>
</html>